{% extends "users/base.html" %}

{% block title %}cart{% endblock title %}

{% load staticfiles %}

{% block content %}

<style>
    .container {

        text-align: center;
    }

    .bottompane {
        display: inline-block;
        vertical-align: top;
        width: 500px;
        margin-top: 60px;
        margin-left: 120px;


    }

    /*     img {
             This section calls the slideInFromrightt animation we defined above 
            animation: 2s ease-out .3s 1 lightSpeedIn;
        }*/

    .checkout {
        height: 30px;
        width: 30px;
    }


    .mug {
        height: 30px;
        width: 30px;
    }

    .tshirt {
        height: 30px;
        width: 30px;
    }

    .boat {
        height: 30px;
        width: 30px;
    }
</style>

<div class="bottompane">

    <h2 class="display-">Items in Your Cart
    </h2><br><br>
    <h4>
        <image src='{% static "products/images/boat.png" %}'>
            $30
            tshirt
            <a href="">

                remove
            </a>
    </h4>
    <h4>
        <img src='{% static "products/images/boat.png" %}'>
        $10
        mug
        <a href="">

            remove
        </a>
    </h4>
    <h4>
        <img src='{% static "products/images/boat.png" %}'>
        $10
        boat
        <a href="">

            remove
        </a>
    </h4>
    <h4>
        <img src='{% static "products/images/boat.png" %}'>
        $30
        tshirt
        <a href="">

            remove
        </a>
    </h4>
    <h4>
        <img src='{% static "products/images/boat.png" %}'>
        $10
        mug
        <a href="">

            remove
        </a>
    </h4>
    <h4>
        <img src='{% static "products/images/boat.png" %}'>
        $10
        mug
        <a href="">

            remove
        </a>
    </h4><br><br>
    <h4>

        <a href="{% url 'products:add' %}">
            <h4> Add More Items</h4>
        </a>
    </h4><br><br>
    <h4>Total balance : <a href="">
            1000
        </a></h4><br><br>

    <h4>Apply points

        <select>

            <option value="5000">5000</option>
            <option value="3000">3000</option>
            <option value="2000">2000</option>
            <option value="1000">1000</option>
            <option value="1000"> 0</option>
        </select>

    </h4><br><br>
    <h4>Total balance after points : <a href="url">
            300
        </a></h4>
</div>

{% endblock content %}