{% extends "users/base.html" %}

{% block title %}moreitems{% endblock title %}

{% load staticfiles %}

{% block content %}

<style>
    .container {
        height: 1300px;
    }

    .a {
        padding: 0px 0px 0px 0px;
    }

    .bottompane {
        display: inline-block;
        vertical-align: top;
        width: 980px;
        height: auto px;
        margin-left: 10px;
        margin-top: 60px;

    }

    .bottompane .bottomleftpane {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 300px;
        margin-left: 10px;
        padding-left: 10px;

    }

    .bottompane .bottomrightpane {
        display: inline-block;
        width: 300px;
        height: 300px;
        margin-left: 10px;
        padding-left: 00px;


    }

    .bottompane .bottomrightpane {
        display: inline-block;
        width: 300px;
        height: 300px;
        margin-left: 10px;
        padding-bottom: 0px;


    }

    h1 {
        text-align: center;
        padding-bottom: 60px;
        font-family: 'Courier New', Courier, monospace;

    }

    /*  img {
             
            animation: 2s ease-out .3s 1 lightSpeedIn;
        }*/
</style>

<h1>
    <h1 class="display-5">More Clakkle Items You Love </h1>


    <div class="bottompane">
        <h1>
            <a href="{% url 'products:cart' %}">


                Checkout
            </a>
        </h1>

        <div class="bottomleftpane">


            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">



                    Buy Now </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">

                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">



                    Buy Now </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">

                    Buy Now
                </a>
            </h4>
        </div>


        <div class="bottomrightpane">

            <h4>

                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
        </div>

        <div class="bottomrightpane">

            <h4>

                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
        </div>


        <div class="bottomleftpane">


            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">

                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
        </div>


        <div class="bottomrightpane">

            <h4>

                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
        </div>

        <div class="bottomrightpane">

            <h4>

                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
        </div>
        <div class="bottomleftpane">


            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">

                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">



                    Buy Now </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">

                    Buy Now
                </a>
            </h4>
        </div>


        <div class="bottomrightpane">

            <h4>

                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
        </div>

        <div class="bottomrightpane">

            <h4>

                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
            <h4>
                </a>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                mug
                <a href="">
                    Buy Now
                </a>
            </h4>

            <h4>
                <img src='{% static "products/images/boat.png" %}'>
                $10
                tshirt
                <a href="">
                    Buy Now
                </a>
            </h4>
        </div>
        {% endblock content %}